# caches
**/.cache/
**/*.log

# backups
**/*backup*
**/*-backup*

# permisos privados
viewnior/
vlc/
wireshark/
yay/

# nvim (si luego lo agregas)
**/nvim/.git/
**/nvim/lazy-lock.json
**/nvim/session/
**/nvim/swap/
**/nvim/undo/
