* {
    border: none;
    border-radius: 4px;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: transparent;
}

window#waybar.chromium {
    background-color: transparent;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border: none;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: transparent;
    color: #ffffff;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    margin: 6px 3px;
    color: #ffffff;
    background-color: transparent;
}

#battery {
    background-color: transparent;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
    background-color: transparent;
    color: #ffffff;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
    color: #ffffff;
}

#memory {
    background-color: transparent;
    color: #ffffff;
}

#disk {
    background-color: transparent;
    color: #ffffff;
}

#backlight {
    background-color: transparent;
    color: #ffffff;
}

#network {
    background-color: transparent;
    color: #ffffff;
}

#network.disconnected {
    background-color: #f53c3c;
    color: #ffffff;
}

#pulseaudio {
    background-color: transparent;
    color: #ffffff;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: transparent;
    color: #ffffff;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: transparent;
    color: #ffffff;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: transparent;
}

#custom-media.custom-vlc {
    background-color: transparent;
}

#temperature {
    background-color: transparent;
    color: #ffffff;
}

#temperature.critical {
    background-color: #eb4d4b;
    color: #ffffff;
}

#tray {
    background-color: transparent;
    color: #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: transparent;
    color: #ffffff;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: transparent;
    color: #ffffff;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: transparent;
    color: #ffffff;
    padding: 0 5px;
    margin: 6px 4px;
    min-width: 16px;
}

#keyboard-state {
    background: transparent;
    color: #ffffff;
    padding: 0 0px;
    margin: 6px 3px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-screenshot {
    color: #ffffff;
    background: #ff9800;
    padding: 5px;
    border-radius: 5px;
}
#custom-vpn-ip.connected {
    color: #00ffa2;
}

#custom-vpn-ip.disconnected {
    color: #ff5555;
}

